main {
	background: linear-gradient(#282e71, #000000);
}

img {
    width: 100%;
}

main > section > a:nth-of-type(1) {
    padding-top: .7em;
    padding-bottom: .7em;
    border-style: solid;
    border-radius: 2em; 
    border-color: blue;
    width: max-content;
    background-color: var(--color-button);
    text-decoration: none;
}

main > section:nth-of-type(1) a {
    display: flex;
    justify-content: left;
    margin: 2em;
    color: var(--color-text2);
}

main > section:nth-of-type(1) p {
    color: var(--color-text2);
    margin: 2em;
}

main > section:nth-of-type(1) h1 {
    color: var(--color-text2);
    display: flex;
    padding-top: 8rem;
    text-transform: uppercase;
    font-size: .9rem;
    margin: 2rem;
}

main > section:nth-of-type(1) h2 {
    margin: 2rem;
    font-size: 2rem;
    color: var(--color-text2);
}

/* main > section > section:nth-of-type(1) li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    color: var(--color-text2);
    margin: 2rem;
} */

main > section > section:nth-of-type(1) h3 { /* h3 verstopt */
    /* clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px; */
}

main > section > section:nth-of-type(1) { /* box 1 blauw */
	background-color: var(--color-box-blauw);
	border-radius: 1em;
    margin: 2em;
    padding: 1em;
    color: var(--color-text);
}


main > section > section:nth-of-type(1) h2,
main > section > section:nth-of-type(2) h2 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem;
    color: var(--color-text);
}

main > section > section:nth-of-type(1) h3,
main > section > section:nth-of-type(2) h3 {
    padding: 1rem;
    font-size: 1.4rem;
}

main > section > section:nth-of-type(1) p,
main > section > section:nth-of-type(2) p {
    /* padding: .2rem 1rem .5rem; */
    color: var(--color-text);
    margin: 1em;
}

main > section > section:nth-of-type(1) img,
main > section > section:nth-of-type(2) img { /* box 1 beeld */
    width: 100;
}

main > section > section:nth-of-type(1) a,
main > section > section:nth-of-type(2) a {
    padding-top: .7em;
    padding-bottom: .7em;
    border-style: solid;
    border-radius: 2em; 
    border-color: blue;
    width: 10rem;
    display: flex;
    justify-content: center;
    background-color: var(--color-button);
    text-decoration: none;
}

main > section > section:nth-of-type(2) { /* box 2 beige */
	background-color: var(--color-box-beige);
	border-radius: 1em;
    margin: 2em;
    padding: 1em;
    color: var(--color-text);
}

@media (width > 40em) {
    main > section:first-of-type {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }


}


main > section:last-of-type {
    background-color: var(--color-section2-main);
}

main > section:last-of-type h2 {
    color: var(--color-text);
    text-align: center;
    padding: .5em;
}

main > section:last-of-type li {
    /* display: flex;
    flex-direction: column;
    text-align: center; */
    /* display: inline-block;
    border: 2px solid purple;  */
    /* padding: 4px 8px;   
    display: flex;
    justify-content: center;
    flex-direction: column;  */
}

main > section:last-of-type ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

main > section:last-of-type a {
    padding-top: .3em;
    padding-bottom: .3em;
    margin-top: .5em;
    margin-bottom: .5em;
    border-style: solid;
    border-radius: 1.5em; 
    width: auto;
    display: block;
    text-decoration: none;
    background-color: var(--color-list-creative);
}
