main {
	background: linear-gradient(#181d4f8a, #000000);
}

main > section:first-of-type h1 {
    color: var(--color-text2);
    display: flex;
    padding-top: 8rem;
    text-transform: uppercase;
    font-size: .9rem;
    margin: 2rem;
}

main > section:first-of-type h2 {
    margin: 2rem;
    font-size: 2rem;
}

main > section > section:nth-of-type(1) li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    color: var(--color-text2);
    margin: 2rem;
}

main > section > section:nth-of-type(1) h3 { /* h3 verstopt */
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main > section > section:nth-of-type(2) {
	background-color: var(--color-box-blauw);
	border-radius: 1em;
    margin: 2em;
    padding: 1em;
    color: var(--color-text);
}

main > section > section:nth-of-type(2) ul {
    list-style-type: none;
}

main > section > section:nth-of-type(2) h2 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem;
}

main > section > section:nth-of-type(2) h3 {
    padding: 1rem;
    font-size: 1.4rem;
}

main > section > section:nth-of-type(2) p {
    padding: .2rem 1rem .5rem;
    /* font-size: 1.4rem; */
}

main > section > section:nth-of-type(3) {
	background-color: var(--color-box-beige);
	border-radius: 1em;
    margin: 2em;
    padding: 1em;
    color: var(--color-text);
}

main > section > section:nth-of-type(3) ul {
    list-style-type: none;
}


@media (width > 40em) {
    main > section:first-of-type {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }


}



main > section:last-of-type {
    background-color: var(--color-text2);
}

main > section:last-of-type h2 {
    color: var(--color-text);
    text-align: center;
    padding: .5em;
}

main > section:last-of-type li {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* display: inline-block;
    border: 2px solid purple; 
    padding: 4px 8px;  */
}

main > section:last-of-type a {
    padding-top: .7em;
    padding-bottom: .7em;
    border-radius: 12px;
    border-style: solid;
    border-radius: 2em; 
    justify-content: center;
}
