/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* namen verbeteren van roots */
	color-scheme: light dark; 
	--color-text: light-dark(#111, #eee);
	--color-text2:#eee;
	--color-text3: #111;
	--color-background:#eee;
	--color-background-dark: #111; 
	--color-button-background: light-dark(#ffffff00, #111);
	--color-box-blauw: light-dark(#00b3ff, #005d16);
	--color-box-beige: light-dark(#ffe4c4, #613500);
	--color-footer: light-dark(#e1e1e1, #111);
	--color-button: light-dark(#1a6cd0, #029f21);
	--color-list-creative: light-dark(#eee, #111);
	--color-section2-main: light-dark(#eee, #494949);
	--font-weight-dik: 600;
	--border-color: light-dark(#111, #eee);
	--border-color-button-header: light-dark(#eee, #111);
	--color-a: light-dark(#111, #eee);
	--color-a-text: light-dark(#eee, #111);

	--color-text-illustrator: light-dark(#111, #eee);
	--section-video: light-dark(#ffe678, #b19f4e);
}



/***************/
/* LETTERTYPE */
/**************/
@font-face {
	font-family: 'source-sans-pro';
	src: url(../fonts/SourceSansPro-Regular.otf) format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}

header, main, footer {
	font-family: 'source-sans-pro', sans-serif;
}



/****************/
/* JOUW STYLING */
/****************/
header {
	display:flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content:space-between;
	background-color: var(--color-background);
	list-style-type: none;
	height: 15vh;
	position: fixed;
	width: 100%;
	padding-bottom: .5em;
	z-index: 10;
}

header section {
	display: flex;
	justify-content: space-between;
	background-color: var(--color-background-dark);
	width: 100vw;
	order: 0;
	padding: .8rem;
	color: var(--color-text2);
	position: absolute;
	top: 0;
}

header section button {
	border: .2em solid #ffffff;
	border-radius: 2em;
	width: 12em;
	padding-top: .5em;
	padding-bottom: .5em;
}

header section button:hover {
	background-color: var(--color-background);
    color: var(--color-text3);
    border-color: var(--border-color-button-header);
}

header section h2 {
	font-size: 1rem;
	display: flex;
	align-items: center;
}

header button:nth-of-type(1) {
	order: 1;
}

header nav, header a {
	order: 2;
}

header img {
	width: 10vw;
	padding-right: 1rem;
}

header a:first-child img {
	width: 5rem;padding-left: .5em;
}

header a:nth-of-type(1) {
	margin-right: auto;
	text-decoration: none;
}

header a:nth-of-type(2) {
	margin-right: right;
	text-decoration: none;
	padding-right: 2em;
	border: .2em solid #a5a5a5;
	border-radius: 2em;
	padding-top: .5em;
    padding-bottom: .5em;
	color: var(--color-text3);
}

header a:nth-of-type(2):hover {
	background-color: #d2d2d2;
}

head a:last-child {
	margin-left: auto;
}

header button { /* bron button stijl weghalen: https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

header button img {
	width: 2.5em;
}

header > button {
	order: -1;
}

@media (min-width:38em) {
	header img {
		width: 2em;
	}
}

header nav ul li {
	list-style-type: none;
	padding-bottom: 2em;
	padding-top: 1em;
	text-align: left;
}

header nav a {
	text-decoration: none;
	color: var(--color-text2);
}

nav {
	background-color: #252525;
	position: fixed;
	left: 0;
	right: 0;
	top: 15vh;
	bottom: 0;
	
	translate: -100%;  /* hier aanwijzigingen oen om de 2de menu vanuit onderaan te krijgen (0 -100%) */
	
	@media (prefers-reduced-motion:no-preference) {
	  transition: .3s;
	} 				/* geeft fout melding bij w3c validation omdat css nesten nog niet kent */
}

nav.is-open {
   translate: 0; /* dit ook aanpassen voor de 2de menu (0 0)*/
   padding: 2em;
   list-style-type: none;
}

@media (min-width:38em) {
	header > button {
	  display: none;
	}

	header nav a {
		color: var(--color-text3);
		
	}

	nav {
		position: static;
		translate: 0%;
		background: none;
		
	}

	nav button {
		display: none;
	}

	nav ul {
		/* list-style-type: none; */
		display: flex;
		flex-direction: row;
		gap: .5em;
	}

	header nav ul li {
		align-items: flex-end;
	}

	nav a {
		border: none;
		flex-direction: column;
		
	}
	
	header > a:last-of-type {
		flex-direction: column;
	}
}

@media (min-width:57em) {
	header > a:last-of-type,
	nav a {
	  flex-direction: row; 
	}
}



/***********/
/* FOOTER */
/**********/
footer {
	background-color: var(--color-footer);
}

footer li {
	display: flex;
	flex-direction: column;
}

footer button {
	text-align: left;
	padding: 1em;
}

footer section:nth-of-type(1),
footer section:nth-of-type(2),
footer section:nth-of-type(3),
footer section:nth-of-type(4),
footer section:nth-of-type(5),
footer section:nth-of-type(6) {
	display: flex;
  	justify-content: center;
  	flex-wrap: wrap;
  	flex-direction: column;
}

footer section:nth-of-type(1) button,
footer section:nth-of-type(2) button,
footer section:nth-of-type(3) button,
footer section:nth-of-type(4) button,
footer section:nth-of-type(5) button,
footer section:nth-of-type(6) button {
	display: block;
	border-bottom: .01em solid #686868;
	border-top: none;
	border-left: none;
	border-right: none;
	background: none;
	color: inherit;
	padding: 1.2em;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	font-weight: var(--font-weight-dik);
}

footer section:nth-of-type(1) ul,
footer section:nth-of-type(2) ul, 
footer section:nth-of-type(3) ul,
footer section:nth-of-type(4) ul,
footer section:nth-of-type(5) ul,
footer section:nth-of-type(6) ul {
	background-color: var(--color-footer);
	margin: 0;
	padding: 0;
	list-style-type:"";
	
	height: 0;
	width: 100%;
	
	overflow: hidden;

	border-bottom: .01em solid #686868;
	border-top: none;
	border-left: none;
	border-right: none;
}

footer section:nth-of-type(1) ul a,
footer section:nth-of-type(2) ul a,
footer section:nth-of-type(3) ul a,
footer section:nth-of-type(4) ul a,
footer section:nth-of-type(5) ul a,
footer section:nth-of-type(6) ul a {
	display:block;
  	padding:.5em;
	padding-left: 1.5em;
	text-decoration: none;
	font-size: .8em;
	color: var(--color-text);
}

footer section:nth-of-type(1) ul a:hover,
footer section:nth-of-type(2) ul a:hover,
footer section:nth-of-type(3) ul a:hover,
footer section:nth-of-type(4) ul a:hover,
footer section:nth-of-type(5) ul a:hover,
footer section:nth-of-type(6) ul a:hover {
	background-color: var(--color-a);
	background-size: 100% 100%;
	color: var(--color-a-text);
}

footer section:nth-of-type(1).is-open ul,
footer section:nth-of-type(2).is-open ul,
footer section:nth-of-type(3).is-open ul,
footer section:nth-of-type(4).is-open ul,
footer section:nth-of-type(5).is-open ul,
footer section:nth-of-type(6).is-open ul {
	height: auto;
}

footer section:nth-of-type(1) img,
footer section:nth-of-type(2) img,
footer section:nth-of-type(3) img,
footer section:nth-of-type(4) img,
footer section:nth-of-type(5) img,
footer section:nth-of-type(6) img {
	width: 3vh;
	position: absolute;
	right: 1rem;
}

@media (prefers-color-scheme:dark) {    /* svgtjes van dark naar light */
	footer section:nth-of-type(1) img,
	footer section:nth-of-type(2) img,
	footer section:nth-of-type(3) img,
	footer section:nth-of-type(4) img,
	footer section:nth-of-type(5) img,
	footer section:nth-of-type(6) img,
	footer section:nth-of-type(7) img {
		filter:invert(100%);
	}
}

footer section:nth-of-type(1).is-open img,
footer section:nth-of-type(2).is-open img,
footer section:nth-of-type(3).is-open img,
footer section:nth-of-type(4).is-open img,
footer section:nth-of-type(5).is-open img,
footer section:nth-of-type(6).is-open img {
	rotate: .5turn;
}

footer section h2 {    /* verstopt h2 */
	clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* section 2 van footer  */
footer section:nth-of-type(7) {
	padding: 2em;
	margin-top: 1em;
}

footer section:nth-of-type(7) a, p {
	color: var(--color-text);
}

footer section:nth-of-type(7) a:hover {
	color: red;
}

footer section:nth-of-type(7) ul:nth-of-type(1) li {
	display: flex;
	flex-direction: row;
	padding-top: 1em;
	padding-bottom: 1em;
}

footer section:nth-of-type(7) img {
	width: 4vh;
}

footer section:nth-of-type(7) ul:nth-of-type(2) li {
	display: flex;
	/* flex-direction: row; */
}

footer section:nth-of-type(7) a,
footer section:nth-of-type(7) ul:nth-of-type(2) li a {
	text-decoration: none;
	display: contents;
}

footer section:nth-of-type(7) ul:nth-of-type(2) p {
	display: contents;
}

@media (min-width:38em) {
	footer section:nth-of-type(1),
	footer section:nth-of-type(2),
	footer section:nth-of-type(3),
	footer section:nth-of-type(4),
	footer section:nth-of-type(5),
	footer section:nth-of-type(6) {
		display: flex;
		flex-direction: row;
	}

	footer section:nth-of-type(1) button img,
	footer section:nth-of-type(2) button img,
	footer section:nth-of-type(3) button img,
	footer section:nth-of-type(4) button img,
	footer section:nth-of-type(5) button img,
	footer section:nth-of-type(6) button img {
		display: none;
	}

	footer section:nth-of-type(1) ul li,
	footer section:nth-of-type(2) ul li,
	footer section:nth-of-type(3) ul li,
	footer section:nth-of-type(4) ul li,
	footer section:nth-of-type(5) ul li,
	footer section:nth-of-type(6) ul li {
		position: static;
		translate: unset;
		display: flex;
		flex-direction: row;
	}
}

@media (min-width:38em) {
	main > section:nth-of-type(1) h1,
	main > section:nth-of-type(1) h2,
	main > section:nth-of-type(1) p {
		text-align: center;
	} 

}

/* @media (min-width:38em) {
	footer section:nth-of-type(7) {
		display: ;
	}
} */