/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	color-scheme: light dark; 

	--background-color-adobe-home: linear-gradient(#282e71, #000000);

	--color-text-zwart-wit: light-dark(#111, #eee);
	--color-text-wit:#eee;
	--color-text-zwart: #111;

	--color-background-header:#eee;
	--color-background-dark-header: #111; 
	--header-section-dark-button: #fff;
	--header-aanbieding-button-active: #00eaff;

	--header-border-aanmelden: #a5a5a5;
	--header-hover-aanmelden: #d2d2d2;
	--header-focus-aanmelden: #ffbf1c;
	--header-active-aanmelden: #00eaff;

	--border-bottom-mobiel: white;
	--border-bottom-desktop: black;
	--background-color-nav-mobiel: #252525;

	--color-button-background: light-dark(#ffffff00, #111);

	--color-box-creative: light-dark(#00b3ff, #005d16);
	--color-box-studenten: light-dark(#ffe4c4, #613500);

	--border-color-active-adobe-home: #c80000;
	--border-color-focus-adobe-home: #4afab9;
	--border-color-hover-adobe-home: red;
	--color-button: light-dark(#1a6cd0, #029f21);
	--button-gratis: #104688;

	--hover-color-lidmaat: red;
	--aanmeld-button-focus-color: red;
	--header-nav-a-hover: red;
	--header-nav-a-focus: red;
	--header-nav-a-active: blue;

	--color-list-creative: light-dark(#eee, #111);
	--color-section2-main: light-dark(#eee, #494949);
	--font-weight-dik: 600;

	--border-black-a: black;
	--border-color: light-dark(#111, #eee);
	--border-color-button-header: light-dark(#eee, #111);
	--color-a: light-dark(#111, #eee);
	--color-a-text: light-dark(#eee, #111);

	--color-footer: light-dark(#e1e1e1, #111);
	--footer-bottom-color-ul-button: #686868;
	--footer-onderaan-info: red;
	--footer-buttons-uitklap: red;
	--footer-buttons-uitklap-focus: blue;
	--footer-buttons-uitklap-active: #00b400;
	--footer-a-uitklap-focus: #ff4c4c;
	--footer-a-uitklap-active: #00b400;
	--footer-socials-hover: red;
	--footer-onderaan-info-active: #00b400;
	--footer-socials-active: #00b400;



	/* illustrator */
	--background-color-section-illutrator: light-dark(#eee, #343434);
	--color-text-illustrator: light-dark(#111, #eee);
	--section-video: light-dark(#ffe678, #b19f4e);

	--whitespace: clamp(1.25em, 5vw, 2em);
	--dialog-color: linear-gradient(#0046a2, #0095cb);
}



/***************/
/* LETTERTYPE */
/**************/
@font-face {
	font-family: 'source-sans-pro';
	src: url(../fonts/SourceSansPro-Regular.otf) format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}

header, main, footer {
	font-family: 'source-sans-pro', sans-serif;
}

/****************/
/* JOUW STYLING */
/****************/
header {
	display:flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content:space-between;
	background-color: var(--color-background-header);
	list-style-type: none;
	height: 15vh;
	position: fixed;
	width: 100%;
	z-index: 10;
}

header section {
	display: flex;
	justify-content: space-between;
	background-color: var(--color-background-dark-header);
	width: 100vw;
	order: 0;
	padding: .8rem;
	color: var(--color-text-wit);
	position: absolute;
	top: 0;
}

header section button {
	border: .2em solid var(--header-section-dark-button);
	border-radius: 2em;
	width: 12em;
	padding-top: .5em;
	padding-bottom: .5em;
}

header section button:hover {
	background-color: var(--color-background-header);
    color: var(--color-text-zwart);
    border-color: var(--border-color-button-header);
}

header section button:active {
	background-color: var(--header-aanbieding-button-active);
}

header section h2 {
	font-size: 1rem;
	display: flex;
	align-items: center;
}

header button:nth-of-type(1) {
	order: 1;
}

header button:nth-of-type(1):focus-visible {
	outline-color: var(--aanmeld-button-focus-color);
	outline-style: solid;
	outline-width: .15em;
	outline-offset:.2em;
}

header nav, header a {
	order: 2;
}

header img {
	width: 10vw;
	padding-right: 1rem;
}

header a:first-child img {
	width: 5rem;
	padding-left: .5em;
	padding-bottom: .7em;
}

header a:nth-of-type(1) {
	margin-right: auto;
	text-decoration: none;
}

header a:nth-of-type(2) {
	margin-left: auto;
	margin-right: 1em;
	margin-bottom: .5em;
	text-decoration: none;
	padding-right: .6em;
	padding-left: .6em;
	border: .2em solid var(--header-border-aanmelden);
	border-radius: 2em;
	padding-top: .5em;
    padding-bottom: .5em;
	color: var(--color-text-zwart);
}

header a:nth-of-type(2):hover {
	background-color: var(--header-hover-aanmelden);
}

header a:nth-of-type(2):focus-visible {
	background-color: var(--header-focus-aanmelden);
}

header a:nth-of-type(2):active {
	background-color: var(--header-active-aanmelden);
}

head a:last-child {
	margin-left: auto;
}

header button { /* bron button stijl weghalen: https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

header button img {
	width: 2.5em;
	padding-bottom: .8em;
}

header > button {
	order: -1;
}

@media (min-width:38em) {
	header img {
		width: 2em;
	}
}

header nav ul li {
	list-style-type: none;
	padding-bottom: 1em;
	padding-top: 2em;
	text-align: left;

	border-bottom: .1em solid var(--border-bottom-mobiel);
}

header nav a {
	text-decoration: none;
	color: var(--color-text-wit);
}

nav {
	background-color: var(--background-color-nav-mobiel);
	position: fixed;
	left: 0;
	right: 0;
	top: 15vh;
	bottom: 0;
	
	translate: -100%;  
	
	@media (prefers-reduced-motion:no-preference) {
	  transition: .3s;
	} 				/* geeft fout melding bij w3c validation omdat css nesten nog niet kent */
}

nav.is-open {
   translate: 0; 
   padding: 2em;
   list-style-type: none;
}

@media (min-width:38em) {
	header > button {
	  display: none;
	}

	header nav a {
		color: var(--color-text-zwart);
	}

	nav {
		position: static;
		translate: 0%;
		background: none;
	}

	nav button {
		display: none;
	}

	nav ul {
		display: flex;
		flex-direction: row;
		gap: 2em;
		margin-left: -13em;
	}

	header nav ul li {
		align-items: flex-end;
		border-bottom: .1em solid var(--border-bottom-desktop);
	}

	header nav ul li a:hover {
		color: var(--header-nav-a-hover);
	}

	header nav ul li a:focus-visible {
		outline-color: var(--header-nav-a-focus);
		outline-style: solid;
		outline-width: .15em;
		outline-offset:.2em;
	}

	header nav ul li a:active {
		color: var(--header-nav-a-active);
	}

	nav a {
		border: none;
		flex-direction: column;
	}
	
	header > a:last-of-type {
		flex-direction: column;
	}
}

@media (min-width:57em) {
	header > a:last-of-type,
	nav a {
	  flex-direction: row; 
	}
}



/***********/
/* FOOTER */
/**********/
footer {
	background-color: var(--color-footer);
}

footer li {
	display: flex;
	flex-direction: column;
}

footer button {
	text-align: left;
	padding: 1em;
}

footer section:nth-of-type(1),
footer section:nth-of-type(2),
footer section:nth-of-type(3),
footer section:nth-of-type(4),
footer section:nth-of-type(5),
footer section:nth-of-type(6) {
	display: flex;
  	justify-content: center;
  	flex-wrap: wrap;
  	flex-direction: column;
}

footer section:nth-of-type(1) button,
footer section:nth-of-type(2) button,
footer section:nth-of-type(3) button,
footer section:nth-of-type(4) button,
footer section:nth-of-type(5) button,
footer section:nth-of-type(6) button {
	display: block;
	border-bottom: .01em solid var(--footer-bottom-color-ul-button);
	border-top: none;
	border-left: none;
	border-right: none;
	background: none;
	color: inherit;
	padding: 1.2em;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	font-weight: var(--font-weight-dik);
}

footer section:nth-of-type(1) button:hover,
footer section:nth-of-type(2) button:hover,
footer section:nth-of-type(3) button:hover,
footer section:nth-of-type(4) button:hover,
footer section:nth-of-type(5) button:hover,
footer section:nth-of-type(6) button:hover {
	color: var(--footer-buttons-uitklap);
}

footer section:nth-of-type(1) button:focus-visible,
footer section:nth-of-type(2) button:focus-visible,
footer section:nth-of-type(3) button:focus-visible,
footer section:nth-of-type(4) button:focus-visible,
footer section:nth-of-type(5) button:focus-visible,
footer section:nth-of-type(6) button:focus-visible {
	color: var(--footer-buttons-uitklap-focus);
}

footer section:nth-of-type(1) button:active,
footer section:nth-of-type(2) button:active,
footer section:nth-of-type(3) button:active,
footer section:nth-of-type(4) button:active,
footer section:nth-of-type(5) button:active,
footer section:nth-of-type(6) button:active {
	color: var(--footer-buttons-uitklap-active);
}

footer section:nth-of-type(1) ul,
footer section:nth-of-type(2) ul, 
footer section:nth-of-type(3) ul,
footer section:nth-of-type(4) ul,
footer section:nth-of-type(5) ul,
footer section:nth-of-type(6) ul {
	background-color: var(--color-footer);
	margin: 0;
	padding: 0;
	list-style-type:"";
	
	height: 0;
	width: 100%;
	
	overflow: hidden;

	border-bottom: .01em solid var(--footer-bottom-color-ul-button);
	border-top: none;
	border-left: none;
	border-right: none;
}

footer section:nth-of-type(1) ul a,
footer section:nth-of-type(2) ul a,
footer section:nth-of-type(3) ul a,
footer section:nth-of-type(4) ul a,
footer section:nth-of-type(5) ul a,
footer section:nth-of-type(6) ul a {
	display:block;
  	padding:.5em;
	padding-left: 1.5em;
	text-decoration: none;
	font-size: .8em;
	color: var(--color-text-zwart-wit);
}

footer section:nth-of-type(1) ul a:hover,
footer section:nth-of-type(2) ul a:hover,
footer section:nth-of-type(3) ul a:hover,
footer section:nth-of-type(4) ul a:hover,
footer section:nth-of-type(5) ul a:hover,
footer section:nth-of-type(6) ul a:hover {
	background-color: var(--color-a);
	background-size: 100% 100%;
	color: var(--color-a-text);
}

footer section:nth-of-type(1) ul a:focus-visible,
footer section:nth-of-type(2) ul a:focus-visible,
footer section:nth-of-type(3) ul a:focus-visible,
footer section:nth-of-type(4) ul a:focus-visible,
footer section:nth-of-type(5) ul a:focus-visible,
footer section:nth-of-type(6) ul a:focus-visible {
	background-color: var(--footer-a-uitklap-focus);
}

footer section:nth-of-type(1) ul a:active,
footer section:nth-of-type(2) ul a:active,
footer section:nth-of-type(3) ul a:active,
footer section:nth-of-type(4) ul a:active,
footer section:nth-of-type(5) ul a:active,
footer section:nth-of-type(6) ul a:active {
	background-color: var(--footer-a-uitklap-active);
}

footer section:nth-of-type(1).is-open ul,
footer section:nth-of-type(2).is-open ul,
footer section:nth-of-type(3).is-open ul,
footer section:nth-of-type(4).is-open ul,
footer section:nth-of-type(5).is-open ul,
footer section:nth-of-type(6).is-open ul {
	height: auto;
}

footer section:nth-of-type(1) img,
footer section:nth-of-type(2) img,
footer section:nth-of-type(3) img,
footer section:nth-of-type(4) img,
footer section:nth-of-type(5) img,
footer section:nth-of-type(6) img {
	width: 3vh;
	position: absolute;
	right: 1rem;
}

@media (prefers-color-scheme:dark) {    /* svgtjes van dark naar light */
	footer section:nth-of-type(1) img,
	footer section:nth-of-type(2) img,
	footer section:nth-of-type(3) img,
	footer section:nth-of-type(4) img,
	footer section:nth-of-type(5) img,
	footer section:nth-of-type(6) img,
	footer section:nth-of-type(7) img {
		filter:invert(100%);
	}
}

footer section:nth-of-type(1).is-open img,
footer section:nth-of-type(2).is-open img,
footer section:nth-of-type(3).is-open img,
footer section:nth-of-type(4).is-open img,
footer section:nth-of-type(5).is-open img,
footer section:nth-of-type(6).is-open img {
	rotate: .5turn;
}

footer section h2 {    /* verstopt h2 */
	clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* SECTION 2 VAN FOOTER  */
footer section:nth-of-type(7) {
	padding: 2em;
	margin-top: 1em;
}

footer section:nth-of-type(7) a, p {
	color: var(--color-text-zwart-wit);
}

footer section:nth-of-type(7) a:hover {
	color: var(--footer-onderaan-info);
}

footer section:nth-of-type(7) a:active {
	color: var(--footer-onderaan-info-active);
}

footer section:nth-of-type(7) ul:nth-of-type(1) li {
	display: flex;
	flex-direction: row;
	padding-top: 1em;
	padding-bottom: 1em;
}

footer section:nth-of-type(7) img {
	width: 4vh;
}

footer section:nth-of-type(7) img:hover {
	outline-color: var(--footer-socials-hover);
	outline-style: solid;
	outline-width: .10em;
}

footer section:nth-of-type(7) img:active {
	outline-color: var(--footer-socials-active);
	outline-style: solid;
	outline-width: .10em;
}

footer section:nth-of-type(7) ul:nth-of-type(2) li {
	display: flex;
}

footer section:nth-of-type(7) a,
footer section:nth-of-type(7) ul:nth-of-type(2) li a {
	text-decoration: none;
	display: contents;
}

footer section:nth-of-type(7) ul:nth-of-type(2) p {
	display: contents;
}

@media (min-width:38em) {
	footer {
	display: flex;
	flex-direction: row; 
    align-items: flex-start;
	flex-wrap: wrap;
	}

	footer section:not(:last-of-type) {
		border-bottom: none;
		flex: 1;
		gap: 1rem;
		padding-top: 3em;
		margin-left: 2em;
		margin-right: 2em;
	}

	footer section:nth-of-type(1) button,
	footer section:nth-of-type(2) button,
	footer section:nth-of-type(3) button,
	footer section:nth-of-type(4) button,
	footer section:nth-of-type(5) button,
	footer section:nth-of-type(6) button {
		display: none;
	}

	footer section:nth-of-type(1) h2,
	footer section:nth-of-type(2) h2,
	footer section:nth-of-type(3) h2,
	footer section:nth-of-type(4) h2,
	footer section:nth-of-type(5) h2,
	footer section:nth-of-type(6) h2 { /* vissable gemaakt */
		position: static;
    	width: auto;
    	height: auto;
    	margin: 0 0 .5em;
    	overflow: visible;
    	clip: auto;
    	clip-path: none;
    	white-space: normal;
		font-size: .9em;  
	}

	/* DIT STUK MET CHATGPT GEDAAN: gevraagd hoe ik de buttons in mijn footer zichtbaar kon krijgen */
	footer section:nth-of-type(1) ul,
	footer section:nth-of-type(2) ul,
	footer section:nth-of-type(3) ul,
	footer section:nth-of-type(4) ul,
	footer section:nth-of-type(5) ul,
	footer section:nth-of-type(6) ul {
		display: block !important; 		/* override JS toggle styles */
		height: auto;              		/* als je height animatie gebruikt */
		opacity: 1;                		/* als je fade gebruikt */
		visibility: visible;       		/* als je met visibility werkt */
	}

	footer section:nth-of-type(1) button img,
	footer section:nth-of-type(2) button img,
	footer section:nth-of-type(3) button img,
	footer section:nth-of-type(4) button img,
	footer section:nth-of-type(5) button img,
	footer section:nth-of-type(6) button img {
		display: none;
	}

	footer section:nth-of-type(1) ul li,
	footer section:nth-of-type(2) ul li,
	footer section:nth-of-type(3) ul li,
	footer section:nth-of-type(4) ul li,
	footer section:nth-of-type(5) ul li,
	footer section:nth-of-type(6) ul li {
		padding: 0%;
	}

	footer section:nth-of-type(1) ul li a,
	footer section:nth-of-type(2) ul li a,
	footer section:nth-of-type(3) ul li a,
	footer section:nth-of-type(4) ul li a,
	footer section:nth-of-type(5) ul li a,
	footer section:nth-of-type(6) ul li a {
		padding-left: 0%;
	}
}

@media (min-width:38em) {
	header button:nth-of-type(1) {
		margin-right: 30em;
	}

	header section h2 {
		margin-left: 30em;
	}

	header a:nth-of-type(1) {
		padding-left: 1em;
	}
}
